* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    padding: 0 166px;
    margin: 0 auto;
}

.header {
    background-image: url(/p1/image/bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    &__menu {
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__item {
        color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        margin-right: 25px;
        transition: color 0.3s linear;
    }

    &__item:hover {
        color: red;
    }

    &__cart {
        border-right: 1px white solid;
        padding-right: 10px;
        height: 51px;
        position: relative;

        &__img {
            position: absolute;
            top: 18px;
            right: 7px;
        }
    }

    &__phone {
        &__text {
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
        }

        &__holder {
            display: flex;
            align-items: center;

            &__number {
                color: white;
                text-decoration: none;
                font-size: 18px;
                font-weight: 700;
                color: #FFFFFF;
                transition: color 0.3s linear;
            }

            &__number:hover {
                color: red;
            }
        }
    }

        &__button {
            text-decoration: none;
            background-color: #FF7400;
            font-weight: 700;
            font-size: 14px;
            color: white;
            padding: 14px 19px;
            transition: color 0.2s linear;
        }

        &__button:hover {
            color: #FF7400;
        }
    }