* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    font-family: "Open Sans", sans-serif;

}

.wrapper {
    padding: 0 166px;
    margin: 0 auto;
}

.header {
    background-image: url(/p1/image/bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    &__menu {
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 203px;
    }

    &__item {
        color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        margin-right: 25px;
        transition: color 0.3s linear;
    }

    &__item:hover {
        color: red;
    }

    &__cart {
        border-right: 1px white solid;
        padding-right: 10px;
        height: 51px;
        position: relative;

        &__img {
            position: absolute;
            top: 18px;
            right: 7px;
        }
    }

    &__phone {
        &__text {
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
        }

        &__holder {
            display: flex;
            align-items: center;

            &__number {
                color: white;
                text-decoration: none;
                font-size: 18px;
                font-weight: 700;
                color: #FFFFFF;
                transition: color 0.3s linear;
            }

            &__number:hover {
                color: red;
            }
        }
    }

    &__button {
        text-decoration: none;
        background-color: #FF7400;
        font-weight: 700;
        font-size: 14px;
        color: white;
        padding: 14px 19px;
        transition: color 0.2s linear;
    }

    &__button:hover {
        color: #FF7400;
    }

    &__down {
        position: relative;

        &__titles {
            color: #D67E35;
            font-family: 'Tinos', serif;
            font-weight: 400;
            position: absolute;
            left: 0;
            text-align: center;

        }

        &__title {
            font-size: 50px;
        }

        &__subtitle {
            font-size: 80px;
            margin-bottom: 12px;
        }

        &__text:after {
            position: absolute;
            content: '';
            height: 2px;
            width: 61px;
            background-color: #FFFFFF;
            top: 172px;
            left: 90px;

        }

        &__text:before {
            position: absolute;
            content: '';
            height: 2px;
            width: 61px;
            background-color: #FFFFFF;
            top: 172px;
            left: 339px;

        }

        &__text {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            color: #FFFFFF;
            margin-bottom: 21px;

        }

        &__button {
            background-color: #FF7400;
            ;
            padding: 14px 28px;
            font-size: 14px;
            font-weight: 700;
            font-family: "Open Sans", sans-serif;
            border: none;
            color: #FFFFFF;
            transition: background-color 0.3s linear;
        }

        &__button:hover {
            background-color: #c35c08;

        }

    }
}

.container {
    display: flex;
    justify-content: space-between;

    position: relative;
    box-shadow: 10px 10px 40px 20px #0000001A;
    margin-bottom: 150px;

}

.card {


    text-align: center;
    background-color: #FFFFFF;
    width: 349px;
    min-height: 328px;
    margin-top: -137px;
    padding: 48px 10px 0;

    &__img {
        padding-bottom: 4px;
    }

    &__title {
        font-family: Tinos;
        font-size: 26px;
        font-weight: 400;
        line-height: 30px;

        color: #2C2C2C;
        padding-bottom: 20px;

        &__word {
            color: #BC9060;
        }
    }

    &__text {
        color: #656363;
        font-family: Tinos;
        font-size: 26px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        padding-bottom: 10px;

    }
}

.content {
    display: flex;

    &__info {
        width: 50%;
        padding: 16px 125px 60px 0;
    }

    &__img {
        width: 50%;
    }

    &__title {

        font-family: Tinos;
        font-size: 54px;
        font-weight: 400;
        line-height: 62px;
        text-align: center;
        color: #000000;
        margin-bottom: 21px;

        &__word {
            color: #D67E34;
        }
    }

    &__text {
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        color: #656363;
        padding-bottom: 39px;
        margin-bottom: 39px;

    }

    &__columns {
        display: flex;
        justify-content: space-around;
    }

    &__list {
        list-style: none;
        text-align: center;
    }

    &__number {
        font-family: Open Sans;
        font-size: 40px;
        font-weight: 400;
        line-height: 54px;
        color: #BC9060;

    }

    &__item {
        font-family: Open Sans;
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        text-align: center;

    }

    &__img {

        position: relative;

        &__one {
            position: absolute;
            z-index: 0;
            top: 74px;
            left: 0px;
        }

        &__two {
            position: absolute;
            z-index: 3;
            top: 00px;
            left: 190px;
        }

        &__three {
            position: absolute;
            z-index: 2;
            top: 155px;
            left: 210px;

        }

        &__four {
            position: absolute;
            z-index: -1;
            top: 350px;
            left: 0px;
        }
    }
}

.blackblock {
    display: flex;
    margin-top: 122px;
    align-items: center;
    background-image: url(/p1/image/bg-2.png);
    margin-bottom: 132px;

    .left {

        &__maintext {
            font-family: Tinos;
            font-size: 52px;
            font-weight: 400;
            line-height: 60px;
            text-align: left;
            color: #D67E34;
            margin-top: 80px;
            margin-bottom: 20px;

        }

        &__text {
            font-family: Open Sans;
            font-size: 24px;
            font-weight: 700;
            line-height: 33px;
            text-align: left;
            color: #FFFFFF;
            margin-bottom: 104px;
        }
    }

    .right {
        .button {
            text-decoration: none;
            background-color: #FF7400;
            font-weight: 700;
            font-size: 14px;
            color: white;
            padding: 14px 19px;
            transition: color 0.2s linear;
            border: none;
        }

        .button:hover {
            color: #FF7400;
        }
    }
}

.menu {

    &__title {
        font-family: Tinos;
        font-size: 54px;
        font-weight: 400;
        line-height: 62px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
        text-align: center;
        margin-bottom: 139px;

    }

    &__word {
        color: #D67E34;
    }

    &__content {
        display: flex;
        justify-content: space-between;

    }

 
}